@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
  
$primary : rgb(240, 61, 48)
$family-sans-serif : 'Roboto', sans-serif

@import "./../node_modules/bulma/bulma.sass"

.title 
  font-weight: bold

.no-header-margin
  margin-top: 40px

.form-card  
  margin: auto
  width: 300px
  padding: 20px
  border-radius: 10px 
  box-shadow: 0 5px 10px rgb(214, 214, 214)

.form-icon-container
  width: auto
  text-align: center
  margin-bottom: 14px

.form-icon
  color: $dark 
  font-size: 60px

.text-button
  color: $dark
  margin-top: 20px
  text-align: center